.card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img__pokemon {
  position: relative;
  top: 33px;
}

.name__pokemon {
  text-transform: capitalize;
  box-shadow: inset 0 0 30px white, 0 0 30px white;
  border-radius: 3px;
  padding: 0 3px;
}

.list__types {
  padding: 0;
  display: flex;
}

.type__pokemon {
  list-style: none;
  text-transform: uppercase;
  background-color: rgb(41, 41, 41);
  color: white;
  margin: 3px;
  padding: 3px;
  font-size: 12px;
  justify-content: flex-start;
}