body {
  background-color: #f0f0f0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.title {
  font-family: 'Courier New', Courier, monospace;
  src: URL('./pokemonfont/PokemonHollow.ttf') format('truetype');
  text-align: center;
  color: red;
}